/* 페이지 배경색 */
body{
background-color: lightblue;
}

/* 제목 스타일 */
h1{
color: navy;
text-align: center;
}
/* 글자 크기 및 줄 간격 */
p{
    font-size: 18px;
    line-height: 1.7;
}

/* 이미지 크기 + 세로 정렬 */
img[alt = "내 사진"]
{
    width: 150px;
    height: auto;
    display: block; ;
}

img[alt = "토트넘 사진"]
{
    width: 100px;
    height: auto;
    display: block; ;
}
